.vscode
.idea
build*
deps/build*
deps/download/OCCT
deps/download/OpenCSG
deps/download/wxWidgets
deps/download/GLEW
deps/download/CURL
deps/download/GMP
deps/download/MPFR
deps/download/CGAL
deps/download/OpenSSL
Dockerfile
*.o
*.d
.github
.git

cmake-build-debug-event-trace