Build
Build.bat
/build*/
deps/build
MYMETA.json
MYMETA.yml
_build
blib
xs/buildtmp
*.o
*.log
MANIFEST.bak
xs/MANIFEST.bak
xs/assertlib*
.init_bundle.ini
.vs/*
local-lib
/src/TAGS
build-linux/*
deps/build-linux/*
deps/usr
**/.DS_Store
install_*'
deps/download

build_*/
SVG
cmake-build-debug
.idea
out_deps
out_depsx64
config.cmake
*.app
*.dmg
build*
*install/
download/
*.zip
